.App-nav {
  padding: 1.5rem;
  margin-bottom: 3rem;
  background-color: $green;

  .nav-link {
    font-size: .9rem;
    color: white;
    padding: .5rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid transparent;
    transition: all .2s ease-in-out;

    &:hover {
      border-bottom: 2px solid white;
    }

    &.active {
      border-bottom: 2px solid white;
    }
  }

  .navbar-text {
    font-size: .9rem;
    color: white;
    padding: .5rem 1rem .5rem 0;
    margin: 0 0rem 0 1rem;
    border-right: 2px solid rgba(255, 255, 255, .5);
  }
}

.nav-item--logo {
  margin: 0 !important;
  margin-right: 40px;

  .nav-link {
    padding: 0;
    border-bottom: 2px solid transparent !important;
  }
}