@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.App-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 90vh;
}